#signupform{
  border: 1px solid #e2e1e1;
  padding: 30px;
  margin: 20px 0;
}
.chargSattion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin: 10px 0px;
    border: 1px solid #e2e1e1;
}